---
import { menuLinks } from "@/site-config";

import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-[3.75rem] sm:w-12"
				fill="none"
				version="1.1"
				id="Layer_1"
				width="215px"
				height="215px"
				viewBox="0 0 512 512"
				enable-background="new 0 0 512 512"
				xml:space="preserve"
				stroke="#000000"
				stroke-width="0.00512"
			>
				<title>Logo</title>
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier"
					stroke-linecap="round"
					stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
					<g id="diskette">
						<g>
							<path
								fill="#656D78"
								d="M437.34,0H10.66v512h490.68V64L437.34,0z M53.332,480c-5.891,0-10.672-4.781-10.672-10.656 c0-5.906,4.781-10.688,10.672-10.688s10.664,4.781,10.664,10.688C63.996,475.219,59.223,480,53.332,480z"
							></path>
						</g>
						<g opacity="0.2">
							<g>
								<polygon
									fill="#FFFFFF"
									points="437.34,0 415.996,0 479.996,64 479.996,512 501.34,512 501.34,64 "
								></polygon>
							</g>
						</g>
						<g>
							<path
								fill="#434A54"
								d="M351.996,181.336c0,5.891-4.781,10.664-10.656,10.664H85.332c-5.891,0-10.672-4.773-10.672-10.664V10.664 C74.66,4.773,79.441,0,85.332,0H341.34c5.875,0,10.656,4.773,10.656,10.664V181.336z"
							></path>
						</g>
						<g>
							<path
								fill="#29bc89"
								d="M394.652,181.336c0,5.891-4.766,10.664-10.656,10.664H170.66c-5.891,0-10.664-4.773-10.664-10.664V10.664 C159.996,4.773,164.77,0,170.66,0h213.336c5.891,0,10.656,4.773,10.656,10.664V181.336z"
							></path>
						</g>
						<path
							fill="#434A54"
							d="M319.996,42.664c-5.891,0-10.656,4.781-10.656,10.672v85.328c0,5.891,4.766,10.672,10.656,10.672 s10.656-4.781,10.656-10.672V53.336C330.652,47.445,325.887,42.664,319.996,42.664z"
						></path>
						<g>
							<path
								fill="#434A54"
								d="M394.652,341.344h-277.32c-5.891,0-10.672,4.766-10.672,10.656s4.781,10.656,10.672,10.656h277.32 c5.906,0,10.688-4.766,10.688-10.656S400.559,341.344,394.652,341.344z"
							></path>
							<path
								fill="#434A54"
								d="M394.652,405.344h-277.32c-5.891,0-10.672,4.766-10.672,10.656s4.781,10.656,10.672,10.656h277.32 c5.906,0,10.688-4.766,10.688-10.656S400.559,405.344,394.652,405.344z"
							></path>
							<path
								fill="#434A54"
								d="M117.332,298.656h277.32c5.906,0,10.688-4.766,10.688-10.656s-4.781-10.656-10.688-10.656h-277.32 c-5.891,0-10.672,4.766-10.672,10.656S111.441,298.656,117.332,298.656z"
							></path>
						</g>
					</g>
				</g></svg
			>
			<span class="text-xl font-bold sm:text-2xl">Gabriel Freitas</span>
		</a>
		<nav
			aria-label="Menu principal"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Abrir o menu principal"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private menuOpen: boolean;
		private mobileButtonEl: HTMLButtonElement;

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
