---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Ops! Parece que esta página está perdida no espaço!",
	title: "Ops! Você encontrou uma página perdida!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6 text-accent">404 | Ops, algo deu errado.</h1>
	<p class="mb-8">Por favor, use a navegação para encontrar o caminho de volta.</p>
</PageLayout>
