---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "Sobre mim",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Sobre mim</h1>
		<p>
			Meu nome é <strong>Gabriel de Freitas Campos Gonçalves</strong>. Nasci em São José/SC e sou um
			desenvolvedor web graduado em Jogos Digitais, com uma trajetória que inclui experiência em
			gestão imobiliária e jurídica.
		</p>

		<p>
			Além de minha dedicação ao desenvolvimento web, mantenho uma rotina ativa, praticando basquete
			e vôlei nos finais de semana, e dedicando-me a exercícios na academia.
		</p>
		<p>
			Meu blog é o espaço onde falo sobre desenvolvimento web e jogos. Nos momentos livres, curto
			ensinar meus amigos coisas que aprendi. Foi daí que saiu a ideia desse blog.
		</p>
		<SocialList />
	</div>
</PageLayout>
