---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";

const meta = {
	description: "Descubra mais sobre Gabriel Freitas: Desenvolvedor web e entusiasta de jogos.",
	title: "Sobre mim",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<div class="flex items-center">
			<h1 class="title leading-none">Sobre mim</h1>
		</div>
		<p>
			Meu nome é <strong>Gabriel de Freitas Campos Gonçalves</strong>. Nasci em São José/SC e sou um
			desenvolvedor web graduado em jogos digitais, com uma trajetória que inclui experiência em
			gestão imobiliária e jurídica.
		</p>

		<p>
			Além disso, pratico basquete e vôlei nos fins de semana e mantenho uma rotina de exercícios na
			academia.
		</p>
		<p>Gosto de fighting games,survival horror e boomer shooters (parte ruim é a cinetose).</p>
		<p>Meu blog é o espaço onde falo sobre desenvolvimento web, jogos, ou o que vier na telha.</p>
		<SocialList />
	</div>
</PageLayout>
