---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6 text-accent">
			<span class="waving-hand">👋</span> Olá! Prazer em conhecê-lo.
		</h1>
		<p class="mb-4">
			Me chamo Gabriel Freitas e sou desenvolvedor. Meu blog é dedicado a temas relacionados ao
			desenvolvimento web, jogos, ou qualquer assunto que me chame a atenção 💻.
		</p>
		<p class="mb-4">
			Além disso, pratico basquete e vôlei nos fins de semana e mantenho uma rotina de exercícios na
			academia.
		</p>
		<SocialList />
	</section>
	<section aria-label="Lista de posts" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
