<div class="mt-[3.75rem] rounded-lg bg-quote/10 p-4 text-quote">
	<h1 class="mb-4 text-base font-semibold">
		Identificou algum problema no texto? Conto com sua ajuda para corrigir!
	</h1>
	<p class="mb-3">
		Este projeto é open source, então é só fazer as alterações no arquivo de texto,
		<a
			href="https://github.com/GabrielDeFreitas/gabrielfreitas-dev/tree/master/src/content/post"
			target="_blank"
			class="cactus-link"
			aria-label="Repositório do projeto"
			title="Repositório do projeto">diretamente no Github</a
		>, e abrir um pull-request.
	</p>
	<p class="mb-3">
		Contribuir com a comunidade de desenvolvimento web nunca foi tão fácil e eficiente.
	</p>
</div>
